<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="interfaceunittest" verbose="2">
	<!-- <parameter name="url" value="http://210.21.197.66:9999/wlan/" /> -->
	<test name="测试" junit="false" thread-count="1" parallel="classes">
		<groups>
			<run>
				<include name="tools"></include>
			</run>
		</groups>
		<packages>
			<package name="com.infogen.*"></package>
		</packages>
	</test>	
</suite>